.account_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.gender_radio {
  display: flex;
  gap: 20px;
}

.DOB {
  display: flex;
  gap: 10px;
}

.input_box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
