.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gender_radio {
  display: flex;
  gap: 20px;
}

.DOB {
  display: flex;
  gap: 10px;
}
