.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 20%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  text-align: center;
  margin: 10px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.description {
  text-align: justify;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  height: 175px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.price {
  text-align: center;
  font-weight: bold;
  padding: 0px;
}
.img_product {
  width: 100%;
  justify-content: center;
  height: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 830px) {
  .card {
    width: 350px;
  }
}

@media screen and (max-width: 1092px) and (min-width: 830px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 1689px) and (min-width: 1092px) {
  .card {
    width: 30%;
  }
}
