.input_box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border: 1px solid #333;
  border-radius: 20px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.product_preview:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.preview_img {
  display: flex;
  width: 100%;
}
.textbox {
  display: flex;
  width: 90%;
  text-align: justify;
  font-style: italic;
  justify-content: left;
}
.preview_title {
  display: flex;
  width: 90%;
  text-align: justify;
  justify-content: center;
}

.tablinks {
  display: flex;
  width: 100%;
  gap: 10px;
  background-color: crimson;
}

.tabItem {
  padding: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tabItem.active {
  background-color: #333;
  color: white;
}

.posted_wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}
#search-box {
  width: 100%;
}
#search-btn {
  border-radius: 100px;
  height: 50px;
  margin: 5px;
}

.account_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}
