.active {
  background-color: crimson;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  flex-direction: column;
}

.posted_wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter_products_container {
  display: flex;
  background-color: #3498db;
  color: white;
  width: 100%;
}
.filterProduct_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

select {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}
