<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale</title>
    <link rel="stylesheet" href="./stylesheets/product_card.css" />
    <link rel="stylesheet" href="./stylesheets/account_navbar.css" />
    <link rel="stylesheet" href="./stylesheets/sale.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./javascripts/sale.js" defer></script>
  </head>
  <body>
    <div id="app">
      <!--Navbar-->
      <div class="content_links">
        <div class="center">
          <a class="nav_item" href="index.html"><i id="home_ico" class="fa fa-home"></i></a>
          <a href="account.html" class="nav_item">Account</a>
          <a href="purchase.html" class="nav_item">Order</a>
          <a href="sale.html" class="nav_item active">Sale</a>
          <a href="wishlist.html" class="nav_item">Wishlist</a>
        </div>
      </div>
      <!--Sale Page-->
      <div v-if="activeSection === 'MySale'" id="MySale">
        <div class="tablinks">
          <a :class="{ active: tab === 'post' }" @click="changeTab('post')" class="tabItem">Post</a>
          <a :class="{ active: tab === 'posted' }" @click="changeTab('posted')" class="tabItem">Posted</a>
        </div>

        <div class="content_wrapper">
          <!--post new products -->
          <div v-if="tab === 'post'">
            <h1>Sale Section</h1>
            <!--PRODUCT PREVIEW-->
            <h2 style="text-align: center">Product Preview</h2>
            <div class="product_preview">
              <h3 style="text-align: center" v-if="product.title === ''"><b>Title</b></h3>
              <h3 style="text-align: center" v-else>{{product.title}}</h3>

              <!--product image-->
              <div class="preview_img">
                <img
                  width="100%"
                  :src="profileImage || './images/sample.png'"
                  alt="Current Profile"
                  style="width: 100%" />
              </div>
              <!--preview product info-->
              <div class="preview_productInfo">
                <p id="preview_text"><b>Category:</b> {{product.category}}</p>
                <p id="preview_text"><b>Price: </b><b>$</b>{{product.price}}</p>

                <p id="preview_text" class="preview_desc"><b>Description: </b>{{product.description}}</p>

                <p id="preview_text"><b>Seller: </b>{{seller}}</p>
                <p id="preview_text"><b>Post Date</b>: {{ currentDate }}</p>
                <button style="width: 100%">Add to Cart</button>
              </div>
            </div>

            <!--POST PRODUCT FORM-->
            <div class="container">
              <form class="account_form">
                <!--Name, Email, Address, Phone-->
                <input v-model="product.title" name="title" type="text" placeholder="Title" required />
                <select v-model="product.category" id="category" required>
                  <option value="" disabled>select a category</option>
                  <option value="clothes">Clothes</option>
                  <option value="headphones">Headphones</option>
                  <option value="beauty">Beauty</option>
                  <option value="shoes">Shoes</option>
                  <option value="others">Others</option>
                  <!-- Add more categories as needed -->
                </select>
                <input v-model="product.price" name="price" type="text" placeholder="Price" required />
                <input
                  v-model="product.description"
                  name="description"
                  type="text"
                  placeholder="description"
                  required />

                <input
                  name="profile_photo"
                  class="input"
                  type="file"
                  id="image"
                  accept="image/*"
                  @change="handleImageUpload" />

                <!--buttons-->
                <button type="button" @click="uploadProduct">Post</button>
              </form>
            </div>
            <br />
          </div>

          <!--show products posted-->
          <div @click="showUserProducts" v-if="tab === 'posted'">
            <h1>Posted Section</h1>
            <!--posted search bar-->
            <div class="posted_wrapper">
              <input
                style="width: 100%"
                type="search"
                v-model="searchQuery"
                placeholder="Search products..."
                @input="searchProducts" />
            </div>

            <div class="display-container">
              <div v-if="filteredProducts.length === 0">No results found.</div>

              <div v-for="product in filteredProducts" :key="product.id" class="card">
                <h3 style="text-align: center">{{ product.title }}</h3>
                <img
                  :src="product.product_image ? '/uploads/products/' + product.product_image : './images/sample.png'"
                  class="img_product" />
                <div class="preview_productInfo">
                  <p id="preview_text"><b>Category: </b>{{product.category}}</p>
                  <p id="preview_text"><b>Price: </b><b>$</b>{{product.price }}</p>
                  <p id="preview_text"><b>Description: </b>{{product.description }}</p>
                  <p id="preview_text"><b>Seller: </b>{{seller}}</p>
                  <p id="preview_text"><b>Posted Date</b>: {{product.created_at}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
